<div
  class="page-container d-flex flex-column justify-content-center align-items-center"
  #container
>
  <ng-container *ngIf="pageStatus === 'loading'">
    <div
      class="progress"
      style="width: 75vw"
      role="progressbar"
      aria-label="Animated striped example"
      aria-valuenow="'75'"
      aria-valuemin="0"
      aria-valuemax="100"
    >
      <div
        class="progress-bar progress-bar-striped progress-bar-animated bg-danger"
        [style]="'width:' + (loaded / images.length) * 100 + '%'"
      >
        {{ (loaded / images.length) * 100 }}
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="pageStatus === 'loaded'">
    <button
      style="position: absolute; z-index: 1"
      (click)="randomizeButtonPosition()"
      [style.top.px]="buttonPosition.top"
      [style.left.px]="buttonPosition.left"
      [hidden]="!noBtnVisible"
      class="btn btn-danger px-3"
    >
      No
    </button>
    <div class="m-2">
      <h1 class="ml11">
        <span class="text-wrapper">
          <span class="line line1"></span>
          <span style="opacity: 0" class="letters"
            ><i>Will you be my valentine?&nbsp;</i></span
          >
        </span>
      </h1>
      <div id="imageContainer" class="d-flex justify-content-center mt-2"></div>
      <div class="d-flex justify-content-center mt-5">
        <button
          style="opacity: 0"
          id="yes"
          class="btn btn-light px-4 me-3"
          (click)="yesClick()"
        >
          Yes
        </button>
        <button
          style="opacity: 0"
          id="no"
          [hidden]="noBtnVisible"
          (click)="noBtnVisible = true; randomizeButtonPosition()"
          class="btn btn-danger px-3"
        >
          No
        </button>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="pageStatus === 'yes'">
    <h1 id="yesHeading"><i>Yay! You've got a Valentine! 💖</i></h1>
  </ng-container>
</div>
